---
import { Icon } from "astro-icon/components";
import { useTranslations, type Lang } from "~/i18n";

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);
---

<section class="container text-center not-prose" id="contact">
  <h2 class="text-3xl font-bold text-balance text-slate-800 dark:text-slate-300">
    {
      t({
        en: "Contact us",
        pt: "Contacte-nos",
      })
    }
  </h2>
  <p class="text-m text-pretty mb-6 text-slate-700 dark:text-slate-300">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    In sed massa in nunc hendrerit ultrices.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 mx-auto max-w-fit gap-x-12 gap-y-4">
    <div class="flex gap-4">
      <Icon name="tabler:mail" class="w-12 h-12 p-2 bg-sky-700 rounded-full text-white dark:text-black"/>
      <div class="text-left">
        <p class="uppercase text-slate-600 dark:text-slate-400 font-bold text-sm">Email</p>
        <p class="text-lg">
          <a href="mailto:info@xperiencehouse.com">info@xperiencehouse.com</a>
        </p>
      </div>
    </div>
    <div class="flex gap-4">
      <Icon name="tabler:brand-whatsapp" class="w-12 h-12 p-2 bg-green-700 rounded-full text-white dark:text-black"/>
      <div class="text-left">
        <p class="uppercase text-slate-600 dark:text-slate-400 font-bold text-sm">WhatsApp</p>
        <p class="text-lg">
          <a href="https://wa.me/message/73Q3VUTLSW76K1" target="_blank" rel="noopener noreferer">+351 968 514 420</a>
        </p>
      </div>
    </div>
    <div class="flex gap-4">
      <Icon name="tabler:brand-instagram" class="w-12 h-12 p-2 bg-pink-500 rounded-full text-white dark:text-black"/>
      <div class="text-left">
        <p class="uppercase text-slate-600 dark:text-slate-400 font-bold text-sm">Instagram</p>
        <p class="text-lg">
        <a href="https://instagram.com/xperience_house" target="_blank" rel="noopener noreferer">@xperience_house</a>
        </p>
      </div>
    </div>
    <div class="flex gap-4">
      <Icon name="tabler:brand-facebook" class="w-12 h-12 p-2 bg-blue-700 rounded-full text-white dark:text-black"/>
      <div class="text-left">
        <p class="uppercase text-slate-600 dark:text-slate-400 font-bold text-sm">Facebook</p>
        <p class="text-lg">
          <a href="https://www.facebook.com/profile.php?id=61560548384911" target="_blank" rel="noopener noreferer">Xperience House</a>
        </p>
      </div>
    </div>
  </div>
</section>
