---
import { Icon } from "astro-icon/components";
---

<section class="mx-auto text-center not-prose px-2" id="contact">
  <h2 class="text-3xl font-bold text-balance text-slate-800 dark:text-slate-300">Contact us</h2>
  <p class="text-m text-pretty mb-6 text-slate-700 dark:text-slate-300">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    In sed massa in nunc hendrerit ultrices.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 mx-auto max-w-fit gap-4">
    <div class="flex gap-4 md:justify-center">
      <Icon name="tabler:mail" class="w-12 h-12 p-2 bg-sky-700 rounded-full text-white dark:text-black"/>
      <div class="text-left">
        <p class="uppercase text-slate-600 dark:text-slate-400 font-bold text-sm">Email</p>
        <p class="text-lg">
          <a href="mailto:info@xperiencehouse.com">info@xperiencehouse.com</a>
        </p>
      </div>
    </div>
    <div class="flex gap-4 md:justify-center">
      <Icon name="tabler:brand-whatsapp" class="w-12 h-12 p-2 bg-green-700 rounded-full text-white dark:text-black"/>
      <div class="text-left">
        <p class="uppercase text-slate-600 dark:text-slate-400 font-bold text-sm">WhatsApp</p>
        <p class="text-lg">
          <a href="https://wa.me/message/73Q3VUTLSW76K1" target="_blank" rel="noopener noreferer">+351 968 514 420</a>
        </p>
      </div>
    </div>
  </div>
</section>
