---
import { getCollection } from "astro:content";
import ZoneEntry from "~/components/widgets/ZoneEntry.astro";

const zones = await getCollection("zone");
---

<div class="container flex flex-col gap-20">
  {zones.map(zoneEntry => (
    <ZoneEntry zone={zoneEntry} />
  ))}
</div>
