@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-page {
    background-color: var(--color-bg-page);
  }
  .bg-dark {
    background-color: var(--color-bg-page-dark);
  }
  .bg-light {
    background-color: var(--color-bg-page);
  }
  .text-page {
    color: var(--color-text-page);
  }
  .text-muted {
    color: var(--color-text-muted);
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-full border-gray-400 border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3 px-4 md:px-6 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:brightness-90 cursor-pointer inline-flex gap-4;
  }

  .btn-primary {
    @apply btn font-semibold bg-primary text-on-primary border-primary;
  }

  .btn-secondary {
    @apply btn font-semibold bg-secondary text-on-secondary border-secondary;
  }

  .btn-accent {
    @apply btn font-semibold bg-none text-accent border-none;
  }
}
